:root {
  --shop-margin: 1%;
  --card-margin: 0.5%;
  --nav-height: 10vh;
  --page-height: calc(100vh - var(--nav-height));
}

@media only screen and (max-device-width: 600px) {
  :root {
    --nav-height: 6vh;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --nav-height: 6vh;
  }
}
/* 
@media only screen and (max-width: 520px) {
  .Card {
    width: 100%;
  }
  .Cart {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    font-size: 0.9em;
  }

  .Checkout {
    position: relative;
    flex: 100%;
    border-right: none;
    height: 30vh;
  }

  .CartItem {
    width: 100%;
    margin-left: 0;
  }

  .SearchBar input {
    width: 90px;
  }
 */
/* .SearchBar input {
    max-width: 100px;
  } */
